body {
  margin: 0;
  padding: 0;
}

a {
  font-size: 1rem;
  letter-spacing: .010em;
  font-weight: 400;
  font-family: Roboto;
}

p {
  font-family: Roboto;
  font-size: 1.4rem;
  color: #232323;
  padding: 20px;
  margin: 1em;
  line-height: 1.6em;
  letter-spacing: .010em;
  font-weight: 400;
}

h3 {
  font-family: Roboto;
  font-size: 2rem;
  color: black;
  letter-spacing: .010em;
  font-weight: 400;
  padding-left: 10px;
}

.one {
  background: linear-gradient(90deg, rgba(32,56,84,1) 0%, rgba(19,33,50,1) 66%, rgba(14,25,39,1) 100%);
  width: 100%;
  height: 50vh;
}

.two {
  width: 100%;
  height: 30vh;
  background: #e9edf0;
}

.three { 
  width: 100%;
  height: 50vh;
}

.imageSection {
  float: left;
  width: 40%;
  padding: 2vh;
}

#imageOne {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 50%;
  box-shadow: 0px 0px 15px #203855;
}

.nameSection {
  text-align: center;
  float: right;
  width: 40%;
  padding: 20px;
}

#name {
  font-family: Roboto;
  font-size: 100px;
  letter-spacing: .01em;
  color: #fff;
}

#aboutMe {
  font-family: sans-serif;
  font-size: 50px;
  letter-spacing: .01em;
  color: #fff;
}

#imageSectionTwo { 
  float: right;
  width: 38%;
  height: 100%;
}

#columnImages {
  display: block;
  border-radius: 10%;
  box-shadow: 0px 0px 15px #203855;
}

.column {
  float: left;
  padding: 25px;
}

#descriptionSection {    
  float: left;
  width: 40%;
  height: 100%;
  display: block;
}

#description {
  font-family: Roboto;
  font-size: 1.4rem;
  color: #1e1f1f;
  padding: 20px;
  margin: 1em;
  line-height: 1.6em;
  letter-spacing: .010em;
  font-weight: 400;
}

#projectSection {
  text-align: left;
  float: right;
  width: 100%;
  height: 80vh;
}

#projects {         
  font-family: Roboto;
  font-size: 3.5rem;
  letter-spacing: .01em;
  font-weight: 400;
  color: #232323;
  margin-top: auto;
  padding-top: 40px;
  padding-left: 40px;
}

#wecycle {
  float: left;
  height: 30vh;
  width: 30vw;
  padding-left: 60px; 
}

#pigeon {
  float: left;
  height: 30vh;
  width: 30vw;
  padding-left: 60px; 
}

#projectImages {
  float: right;
  width: 40%;
  margin-top: 0px;
}

.imageRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.imageColumn {
  flex: 50%;
  padding: 0 4px;
}

.imageColumn img {
  margin-top: 8px;
  vertical-align: middle;
}

#imageIcon {
  padding-left: 1000px;
}
